@using kreaTid.Models;
@model IEnumerable<Product> 

@{
    ViewData["Title"] = "Home Page";

}

<div class="container" style="width:100%" ;>
    <img src="~/img/Header.jpg" alt="Header" class="center" style="width:120%" ;>
    <div class="centered">
        <h1>Bliv inspireret</h1>
        <h2>og slip kreativiteten fri</h2>
    </div>
</div>

<div id="headerbanner" class="center" style="height:50px; width:100%">
    <h3>Inspirations blog og krea ting samlet på et sted</h3>
</div>

<div class="center" style="padding:20px;">
    <h4>Inspiration</h4>
</div>

<div id="divider" class="center"> </div>

<div class="grid-container">


</div>


<div class="center" style="padding:20px;">
    <h4>Shop</h4>
</div>

<div id="divider" class="center"> </div>


<div class="grid-container">

    @foreach (Product product in Model.Take(8))
    {
        <div>
            @product.ProductName
            @foreach (ProductImg BPI in product.ProductImgs.Take(1))
            {
                <p>@await Html.PartialAsync("_Productimg", BPI)</p>
            }

            @product.ProductPrice

        </div>
    }

</div>




