
@{
    ViewData["Title"] = "BlogPostsView";
}

<h1>BlogPostsView</h1>

<div class="center" style="padding:20px;">
    <h4>Inspiration</h4>
</div>

<div id="divider" class="center"> </div>

<div class="grid-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>

</div>
