<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - kreaTid</title>
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>




    <header>
        <div class="bg-img">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="containerMenu">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Logo.png" /></a>
                    <div style="nav-right:auto" class="cf:after">
                        <div class=""> </div>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="InspirationPage" asp-action="Index">Inspiration</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Shop</a>
                            </li>
                            <li class=" nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Basket">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <script src="https://kit.fontawesome.com/f37f0cbff6.js" crossorigin="anonymous"></script>
    
    @RenderSection("Scripts", required: false)


</body>

</html>
