<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - kreaTid</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    <header>
        <div class="bg-img">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Logo.png" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inspiration</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Shop">Shop</a>
                            </li>
                            <li class=" nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Basket">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

            <div class="container">
                <img src="~/img/Header.jpg" alt="Header" class="center" style="width:120%;">
                <div class="centered">
                    <h1>Bliv inspireret</h1>
                    <h2>og slip kreativiteten fri</h2>
                </div>
            </div>

            <div id="headerbanner" class="center" style="height:50px" ;>
                <h3>Inspirations blog og krea ting samlet på et sted</h3>
            </div>

            <div class="center" style="padding:20px;">
                <h4>Inspiration</h4>
            </div>

            <div id="divider" class="center"> </div>

            <div class="grid-container">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>

            </div>

            <div class="center" style="padding:20px;">
                <h4>Shop</h4>
            </div>

            <div id="divider" class="center"> </div>

            <div class="grid-container">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
            </div>

        </main>
    
    </div>


            
            <script src="https://kit.fontawesome.com/f37f0cbff6.js" crossorigin="anonymous"></script>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @RenderSection("Scripts", required: false)


</body>

</html>
