@model kreaTid.Models.BlogPostComment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BlogPostComment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlogPostCommentId" />
            <div class="form-group">
                <label asp-for="BlogPostCommentUser" class="control-label"></label>
                <input asp-for="BlogPostCommentUser" class="form-control" />
                <span asp-validation-for="BlogPostCommentUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogPostCommentText" class="control-label"></label>
                <input asp-for="BlogPostCommentText" class="form-control" />
                <span asp-validation-for="BlogPostCommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogPostCommentPublishDate" class="control-label"></label>
                <input asp-for="BlogPostCommentPublishDate" class="form-control" />
                <span asp-validation-for="BlogPostCommentPublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogPostCommentLastUpdated" class="control-label"></label>
                <input asp-for="BlogPostCommentLastUpdated" class="form-control" />
                <span asp-validation-for="BlogPostCommentLastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
